.main-section {
    &__h1 {
        font-size: 50px;
        text-align: center;
        margin: 0;
    }
}

.main-wrapper {
    &__container {
        border: thick double #E91E63;
        padding: 10px;
    };
};

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 40px;
    &__input {
        width: 3em;
        padding: 0.5em;
        border: .2em solid #E91E63;
        border-radius: 1em;
        text-align: center;
        color: #E91E63;
        appearance: textfield;
        margin: 0;
    }
    &__btn {
        border: .2em solid #E91E63;
        background: white;
        padding: .85em 1.5em;
        color: #E91E63;
        border-radius: 2em;
        transition: 1s;
        cursor: pointer;
        &:hover, &:focus, &:active {
            background: #E91E63;
            color: #fff;
        }
    }
    &__validate {
        color: #E91E63;
        font-weight: 700;
        text-align: center;
        visibility: hidden;
        margin: 0;
        &--active {
            visibility: visible;
        }
    }
};
