<section id="main-section">
    <div class="container">
        <h1 class="main-section__h1">Get Names</h1>
        <div class="main-wrapper">
            <form class="form-field" action="#">
                <label class="form-field__label">
                    Names:
                    <input class="form-field__input" type="number">
                    <p class="form-field__validate">Write the quantity !</p>
                </label>
                <button class="form-field__btn">Submit</button>
            </form>
            <div class="main-wrapper__container">
                <ul class="list-reset list">

                </ul>
            </div>
        </div>
    </div>
</section>
